header{
    height: 100PX;
}

.site-logo{
    
    font-size: 1.5rem;
    text-decoration: none;
}

.bg-secondary-theme{
    background-color: var(--secondary-color);
}


.text-theme-primary{
    color:var(--primary-color)  ;
}